

body{
    margin: 0;
    padding: 0;
    background-color: black;
}
/** nav bar **/
.bouton a {
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    font-family: 'Orbitron', sans-serif;
    background-color: #b40000;
    color:white;
    text-decoration:none;
    }


    .bouton a:hover {
    color: black;
    font-family: 'Orbitron', sans-serif;
    }

    nav img {
        width: auto;
        height: 100%;
        max-height: 225px;
        z-index: 1;
    }
    nav {
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        flex-direction: row;
        margin: 1%;
      
        height: 60px;
        background-color: var(--nav-shad);
      
        margin: 0;
        padding: 0;
        z-index: 9999;
    
    }

/**  fin nav bar **/
/** bg**/
    .img {
        background-color: #b40000;
        position: relative;
        width: 100%;
        height: 100vh;
       
    }

    .img img {
        width: 100%;
    }
    .un{
        position: absolute;
        margin-left: 17%;
        margin-top: 5%;
        width: 70%;
        z-index: 1;
    }
    .deux{ 
        position: absolute;
        width: 100%;
        
        
    }
/** fin bg **/

/** chez vous  **/
    .h{
        margin-top: 17%;
        color: #b40000;
        text-align: center;
        font-size: 60px;
        font-family: 'Orbitron', sans-serif;
        padding: 5%;
        z-index: 2;
    }

    th2{ 
        color: #b40000;
        font-size: 60px;
        font-family: 'Orbitron', sans-serif;
    }
    .contenaire {
        display: flex;
        align-items:center;
        margin: 5px;
        padding: 5px;
        background-color: black;
        color: white;
        margin-bottom: 10px;
    }
    span{
        color: #b40000;
    }
    .box1 {
        background-image: url(../img/nblwkc7fz5jxew8kyaqk.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 50%;
    }
    .box2{
        color: snow;
        text-align: center;
        font-size: 30px;
        width: 50%;
        margin: 3%;
        padding: 2%;
        font-family: 'Kanit', sans-serif;
    }
/** fin chez vous  **/
/** para **/

#parallax {
    
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }

  .m{
      margin-top: 50%;
      width: 600px;
      height: 100vh;
      z-index: 6;
      
  }
  h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
    opacity: .90;
    font-size: 70px; 
    z-index: -1;
  }

/** fin para **/

/** metropolis **/

    
    .contenaire2 {
        display: flex;
        align-items:center;
        margin: 5px;
        padding: 5px;
        background-color: black;
        color: white;

    }
    .box3 {
        color: snow;
        text-align: center;
        font-size: 30px;
        width: 50%;
        margin: 3%;
        padding: 2%;
        
    }
    .box4 {
       
        background-image: url(../img/photo_copie.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 50%;
    }
/** fin metropolis **/

/** footer **/
    .footer{
        display: flex;
        align-items: center;
        background-color: black;
        color: #b40000;
        height: 300px;
        margin: 6px;
        padding: 3px;
        column-gap: 15%;
        text-align: center;
        font-size: 10px;
        margin-left: 10%;
    }

  

    .icone1{
    text-align: center;
    color: aliceblue;
    height: 30px;
    margin-left: 100px;
    }

    .icone2{
        text-align: center;
        color: aliceblue;
        height: 30px;
    }

    .icone3{
        text-align: center;
        color: aliceblue;
        height: 30px;
    }

    .icone4{
        text-align: center;
        color: aliceblue;
        height: 30px;
        margin-right: 30px;
    }
    .copy{
        color: #b40000;
        text-align: center;;
    }
    .copy img{
      width: auto;
      height: 100%;
      max-height: 225px;
      z-index: 1;
    }
  
/** fin footer **/
/** page abonement **/

/** nav bar **/
/** carrousel **/
.gallery {
    width: 100%;
  }
  
  .gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }
  
  .gallery-item {
    height: 150px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 150px;
    z-index: 0;
  }
  
  .gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
  }
  
  .gallery-item-2,
  .gallery-item-4 {
    height: 200px;
    opacity: 1;
    width: 200px;
    z-index: 1;
  }
  
  .gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
  }
  
  .gallery-item-3 {
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 2;
  }
  
  .gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
  }
  
  .gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
  }
  
  .gallery-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  
  .gallery-controls button:focus {
    outline: none;
  }
  
  .gallery-controls-previous {
    position: relative;
  }
  
  .gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    left: -10px;
    padding: 2px;
    position: absolute;
    top: 0;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 4px;
  }
  
  .gallery-controls-previous:hover::before {
    left: -18px;
  }
  
  .gallery-controls-next {
    position: relative;
  }
  
  .gallery-controls-next::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    padding: 2px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 4px;
  }
  
  .gallery-controls-next:hover::before {
    right: -18px;
  }
  
  .gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  
  .gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
  }
  
  .gallery-nav li.gallery-item-selected {
    background: #555;
  }

  
/** fin carousel **/
/** slid **/
.carousel {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-top: 100px;
    height: 400%;
}
.carousel .carousel__inner {
    display: flex;
    width: 1320px;
    transition: 0.3s all ease;
    transform: translateX(0);
}
.carousel .carousel__box {
    position: relative;
    width: 200px;
    height: 200px;
    background: #ddd;
    transform: translateX(0px);
}
.carousel .carousel__box img {
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: scale(1);
}
.carousel .carousel__box--enter img {
    transform: scale(1.5);
    transition: 0.4s transform;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}
.carousel .carousel__box--leave img {
    transform: scale(1);
    transition: 0.4s transform;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}
.carousel .carousel__box--next {
    transform: translateX(50px);
    transition: 0.4s transform ease;
}
.carousel .carousel__box--next-leave {
    transform: translateX(0);
    transition: 0.4s transform ease;
}
.carousel .carousel__box--previous {
    transform: translateX(-50px);
    transition: 0.4s transform ease;
}
.carousel .carousel__box--previous-leave {
    transform: translateX(0);
    transition: 0.3s transform ease;
}
.carousel .carousel__box:not(:last-child) {
    margin-right: 20px;
}
.carousel .carousel__control {
    position: absolute;
    top: 60%;
    bottom: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100px;
    background-color: black;
    color: #b40000;
    border: 0;
    cursor: pointer;
    transition: 0.2s opacity;
    outline: 0;
}
.carousel .carousel__control--left {
    left: 0;
}
.carousel .carousel__control--right {
    right: 0;
}
.carousel .carousel__control--disabled {
    opacity: 0;
}

.carousel2 {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-top: 100px;
    height: 400%;
}
.carousel2 .carousel__inner {
    display: flex;
    width: 1320px;
    transition: 0.3s all ease;
    transform: translateX(0);
}
.carousel2 .carousel__box {
    position: relative;
    width: 200px;
    height: 200px;
    background: #ddd;
    transform: translateX(0px);
}
.carousel2 .carousel__box img {
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: scale(1);
}
.carousel2 .carousel__box--enter img {
    transform: scale(1.5);
    transition: 0.4s transform;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}
.carousel2 .carousel__box--leave img {
    transform: scale(1);
    transition: 0.4s transform;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}
.carousel2 .carousel__box--next {
    transform: translateX(50px);
    transition: 0.4s transform ease;
}
.carousel2 .carousel__box--next-leave {
    transform: translateX(0);
    transition: 0.4s transform ease;
}
.carousel2 .carousel__box--previous {
    transform: translateX(-50px);
    transition: 0.4s transform ease;
}
.carousel2 .carousel__box--previous-leave {
    transform: translateX(0);
    transition: 0.3s transform ease;
}
.carousel2 .carousel__box:not(:last-child) {
    margin-right: 20px;
}
.carousel2 .carousel__control {
    position: absolute;
    top: 60%;
    bottom: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100px;
    background-color: black;
    color: #b40000;
    border: 0;
    cursor: pointer;
    transition: 0.2s opacity;
    outline: 0;
}
.carousel2 .carousel__control--left {
    left: 0;
}
.carousel2 .carousel__control--right {
    right: 0;
}
.carousel2 .carousel__control--disabled {
    opacity: 0;
}
/**fin slid **/
/** footer **/
/** abonnement **/
/** nav **/
/**Affiche**/
.bg3 {
    /**background-image: url(../img/ccbe03d7-vodvignette16x9f5bdc51d6a24c35a8d23e134ad979614c60510724f2a7f8e27a79a0cea8f2be4.jpg);**/
    background-color: #b40000;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}
.bg3 Harry{ 
    width: 100%;
}
.img .Harry {
    width: 100%;
}
.Harry{ 
    position: absolute;
    width: 100%;
    
    
}
/**fin affiche **/
/** acteur **/
.container {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  .border:hover {
    border: 1px solid #fff;
  }
  .card {
    margin-top: 65%;
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card0 {
    /**background: url("https://pbs.twimg.com/media/EdmTKKgWAAITXm5.png") center center no-repeat;**/
    background-size: 300px;
    
  }

  .card0 img{
    /**background: url("https://pbs.twimg.com/media/EdmTKKgWAAITXm5.png") center center no-repeat;**/
    background-size: 300px;
 }

  
  .card0:hover{
    /**background: url("https://pbs.twimg.com/media/EdmTKKgWAAITXm5.png") center center no-repeat;**/
    background-size: 600px;
  }
  .card0:hover h2 {
    opacity: 1;
    position : relative;
    z-index: 50;
 
  }
  .card0:hover .fa {
    opacity: 1;
  }
  .card1 {
    background: url("https://i.pinimg.com/originals/ed/7a/b7/ed7ab76b982b7b58cae30d8b294c4a9b.png") center center no-repeat;
    background-size: 300px;
  }
  .card1:hover {
    background: url("https://i.pinimg.com/originals/ed/7a/b7/ed7ab76b982b7b58cae30d8b294c4a9b.png") left center no-repeat;
    background-size: 600px;
  }
  .card1:hover h2 {
    opacity: 1;
  }
  .card1:hover .fa {
    opacity: 1;
  }
  .card2 {
    background: url("https://i.pinimg.com/originals/e9/95/55/e99555ba360cc2727fca75ecc3276ce3.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card2:hover {
    background: url("https://i.pinimg.com/originals/e9/95/55/e99555ba360cc2727fca75ecc3276ce3.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card2:hover h2 {
    opacity: 1;
  }
  .card2:hover .fa {
    opacity: 1;
  }
  h2 {
    font-family: 'Orbitron', sans-serif;
    color: rgb(250, 6, 6);
    margin: 20px;
    opacity: 0;
    font-size: 40px;
    transition: opacity 1s;
  }
/** fin acteur **/
/** Synopsi **/
.titre {
font-family: 'Orbitron', sans-serif;
color: rgb(250, 6, 6);
margin: 20px;
margin-top: 350px;
font-size: 40px;
text-align: center;
}
.text{
    padding:10%;
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

/** fin synopsi **/
/** trailer**/  

 .tv {
    position: absolute;
    width: 100%;
    height: 100vh;

}
img{
    width: 100%;
    -webkit-mask-image: url(../img/netflix-1200x852-mask.png);
    mask-image: url(../img/netflix-1200x852-mask.png);
}

.video{
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/netflix-1200x852.png);
    height: 900px; 
    width: 1500px;
    
}

.yt-video {
    margin-top: 150px;
    margin-left: 20%;
    z-index: 0;
}


/** footer **/
.footer1{
    margin-top: 125%;
}
.footer{
    display: flex;
    align-items: center;
    background-color: black;
    color: #b40000;
    height: 300px;
    margin: 6px;
    padding: 3px;
    column-gap: 15%;
    text-align: center;
    font-size: 10px;
    margin-left: 10%;
}



.icone1{
text-align: center;
color: aliceblue;
height: 30px;
margin-left: 100px;
}

.icone2{
    text-align: center;
    color: aliceblue;
    height: 30px;
}

.icone3{
    text-align: center;
    color: aliceblue;
    height: 30px;
}

.icone4{
    text-align: center;
    color: aliceblue;
    height: 30px;
    margin-right: 30px;
}
.copy{
    color: #b40000;
    text-align: center;;
}
.copy img{
  width: auto;
  height: 100%;
  max-height: 225px;
  z-index: 1;
}

/** FIN FOOTER **/ 
