@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
/** nav bar **/
.bouton a {
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    font-family: 'Orbitron', sans-serif;
    background-color: #b40000;
    color:white;
    text-decoration:none;
    }


    .bouton a:hover {
    color: black;
    font-family: 'Orbitron', sans-serif;
    }

    nav img {
        width: auto;
        height: 100%;
        max-height: 225px;
        z-index: 1;
    }
    nav {
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        flex-direction: row;
        margin: 1%;
      
        height: 60px;
        background-color: var(--nav-shad);
      
        margin: 0;
        padding: 0;
        z-index: 9999;
    
    }

/**  fin nav bar **/
/** bg**/
    .img {
        background-color: #b40000;
        position: relative;
        width: 100%;
        height: 100vh;
       
    }

    .img img {
        width: 100%;
    }
    .un{
        position: absolute;
        margin-left: 17%;
        margin-top: 5%;
        width: 70%;
        z-index: 1;
    }
    .deux{ 
        position: absolute;
        width: 100%;
        
        
    }
/** fin bg **/

/** chez vous  **/
    .h{
        margin-top: 17%;
        color: #b40000;
        text-align: center;
        font-size: 60px;
        font-family: 'Orbitron', sans-serif;
        padding: 2%;
        z-index: 2;
    }

    h2{ 
        color: #b40000;
        font-size: 60px;
        font-family: 'Orbitron', sans-serif;
    }
    .contenaire {
        display: flex;
        align-items:center;
        margin: 5px;
        padding: 5px;
        background-color: black;
        color: white;
        margin-bottom: 10px;
    }
    span{
        color: #b40000;
    }
    .box1 {
        background-image: url(../img/nblwkc7fz5jxew8kyaqk.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 50%;
    }
    .box2{
        color: snow;
        text-align: center;
        font-size: 30px;
        width: 50%;
        margin: 3%;
        padding: 2%;
    }
/** fin chez vous  **/
/** para **/

#parallax {
    
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }

  .m{
      margin-top: 50%;
      width: 600px;
      height: 100vh;
      z-index: 6;
      
  }
  h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
    opacity: .2;
    font-size: 70px; 
  }

/** fin para **/

/** metropolis **/

    
    .contenaire2 {
        display: flex;
        align-items:center;
        margin: 5px;
        padding: 5px;
        background-color: black;
        color: white;

    }
    .box3 {
        color: snow;
        text-align: center;
        font-size: 30px;
        width: 50%;
        margin: 3%;
        padding: 2%;
    }
    .box4 {
       
        background-image: url(../img/photo_copie.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 50%;
    }
/** fin metropolis **/

/** footer **/
    .footer{
        display: flex;
        align-items: center;
        background-color: black;
        color: #b40000;
        height: 300px;
        margin: 6px;
        padding: 3px;
        column-gap: 10px;
        text-align: center;
        font-size: 20PX
    }

  

    .icone1{
    text-align: center;
    color: aliceblue;
    height: 300px;
    width: 100%;
    }

    .icone2{
    text-align: center;
    color: aliceblue;
    height: 300px;
    width: 100%;
    }

    .icone3{
    text-align: center;
    color: aliceblue;
    height: 300px;
    width: 100%;
    }

    .icone4{
    text-align: center;
    color: aliceblue;
    height: 300px;
    width: 100%;
    }
    .copy{
        color: #b40000;
        text-align: center;;
    }
    .copy img{
      width: auto;
      height: 100%;
      max-height: 225px;
      z-index: 1;
    }
  
/** fin footer **/
/** page abonement **/

/** nav bar **/
/** carrousel **/

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
  }
  .box {
    position: absolute;
    width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out 100ms;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box.one {
    background-image: url(https://d1fmx1rbmqrxrr.cloudfront.net/cnet/optim/i/edit/2022/01/Mando%20S3%20Big__w770.jpg);
  }
  .box.two {
    background-image: url(https://img.huffingtonpost.com/asset/5c92b4432a0000d6024def52.jpeg?ops=scalefit_630_noupscale);
  }
  .box.three {
    background-image: url(https://www.rts.ch/2019/05/06/12/13/10396822.image?w=1280&h=720);
  }
  .box.four {
    background-image: url(https://movies.monnaie-services.com/FR/poster/4DD237ED/320/B7CIC.jpg);
  }
  .box.five {
    background-image: url(https://i0.wp.com/views.fr/wp-content/uploads/2020/04/inception_2010_advance_original_film_art_42360bdb-9eb2-48bb-9254-40d8fa27f031_2000x.jpg?resize=1022%2C1500&ssl=1);
  }
  .box.six {
    background-image: url(https://i0.wp.com/views.fr/wp-content/uploads/2020/04/81yNUXs701L._AC_SL1392_.jpg?resize=940%2C1392&ssl=1);
  }
  .box.seven {
    background-image: url(https://resize.prod.docfr.doc-media.fr/s/1200/img/var/doctissimo/storage/images/fr/www/sexualite/diaporamas/10-films-sexy/1895675-1-fre-FR/Les-50-films-les-plus-sexy.jpg);
  }
  .box:nth-of-type(1) {
    transform: translate3d(-190%, -50%, -100px) scale(0.4);
    z-index: 1;
  }
  .box:nth-of-type(2) {
    transform: translate3d(-190%, -50%, -100px) scale(0.6);
    z-index: 2;
  }
  .box:nth-of-type(3) {
    transform: translate3d(-130%, -50%, -100px) scale(0.8);
    z-index: 3;
  }
  .box:nth-of-type(4) {
    z-index: 4;
  }
  .box:nth-of-type(5) {
    transform: translate3d(30%, -50%, -100px) scale(0.8);
    z-index: 3;
  }
  .box:nth-of-type(6) {
    transform: translate3d(90%, -50%, -100px) scale(0.6);
    z-index: 2;
  }
  .box:nth-of-type(7) {
    transform: translate3d(90%, -50%, -100px) scale(0.4);
    z-index: 1;
  }
  
  .btns {
    position:absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .btns > span {
    margin: 10px 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    padding: 50px;
    cursor: pointer;
  }
  .btns > span:first-child {
    transform: rotate(-180deg);
  }
  .btns > span:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .btns > span > i {
    color: #fff;
  }
  
/** fin carousel **/
/** slid **/
.title{
    font-size: 1.2em;
    font-family: Arial;
    color: #eee;
    margin: 30px 0 10px;
  }
  .container{
    width: 1400px;
    margin: 0 auto;
  }
  .slider{
    width: 100%;
  }
  .slider-content{
    width: 100%;
    white-space: nowrap;
    transition: all 0.5s;
  }
  .slide{
    width: 16.66666666666667%;
    display: inline-block;
    position: relative;
    transition: all .5s;
    cursor: pointer;
  }
  .slider .slide:nth-child(6n){
    transform-origin: left center;
  }
  .slider .slide:nth-child(6n+6){
    transform-origin: right center;
  }
  .slide-content{
    width: 100%;
    padding: 2.5px;
    box-sizing: border-box;
  }
  .slide img{
    width: 100%;
    display: block;
  }
  .slide:nth-child(6n+1) .onhover{
    transform: translate(2.5px, -50%);
    left: 0%;
  }
  .slide:nth-child(6n+6) .onhover{
    transform: translate(-2.5px, -50%);
    right: 0%;
    left: initial;
  }
  .slide .onhover{
    width: calc(100% - 5px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }
  .onhover img{
    width: 100%;
  }
  

  .control-pagination{
    margin: 30px 0;
  }
  .prev, .next{
    color: #fff;
    padding: 5px;
    cursor: pointer;
  }
  .prev:hover, .next:hover{
    color: #ccc;
  }
/**fin slid **/
/** footer **/

/** nav **/







/** footer **/